<div class="d-flex justify-content-around bd-highlight mb-2">
  <h1 class="display-6 mt-5">コーカイ表(中子音)</h1>
  </div> 
</div>

<div class="d-flex justify-content-evenly bd-highlight"><!-- New -->
  <div class="p-2 bd-highlight">
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th scope="col">【k】</th>
          <th scope="col">【c】</th>
          <th scope="col">【d】</th>
          <th scope="col">【t】</th>
          <th scope="col">【b】</th>
          <th scope="col">【p】</th>
          <th scope="col">【?】</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><h1>ก</h1><div>コーカイ　</div></td>
          <td><h1>จ</h1><div>チョー</div><div>チャーン　</div></td>
          <td><h1>ด</h1><div>ドー</div><div>デㇰ　　　</div></td>
          <td><h1>จ</h1><div>トータォ　</div></td>
          <td><h1>บ</h1><div>ボーバィ</div><div>マーィ</div></td>
          <td><h1>ป</h1><div>ポー</div><div>プㇻー　　</div></td>
          <td><h1>อ</h1><div>オー</div><div>アーング　</div></td>
        </tr>
        <tr>
          <td>ก ไก่</td>
          <td>จ จาน</td>
          <td>ด เด็ก</td>
          <td>ต เต่า</td>
          <td>บ ใบไม้	</td>
          <td>ป ปลา</td>
          <td>อ อ่าง</td>
        </tr>
        <tr>
          <td scope="row">kɔɔ kài</td>
          <td>cɔɔ caan</td>
          <td>dɔɔ dèk</td>
          <td>tɔɔ tào</td>
          <td>bɔɔ baimái</td>
          <td>pɔɔ plaa</td>
          <td>ʔɔɔ ʔàaŋ</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h1>ฎ</h1><div>ドー</div><div>チャダー</div></td>
          <td><h1>ฏ</h1><div>トー</div><div>パタㇰ</div></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>ฎ ชฎา</td>
          <td>ฏ ปฏัก</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>dɔɔ chadaa</td>
          <td>tɔɔ patàk</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
