<div class="d-flex justify-content-around bd-highlight mb-2">
  <h1 class="display-6 mt-5">コーカイ表(高子音)</h1>
  </div> 
</div>

<div class="d-flex justify-content-evenly bd-highlight">
  <div class="p-2 bd-highlight">
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th scope="col">【kh】</th>
          <th scope="col">【ch】</th>
          <th scope="col">【th】</th>
          <th scope="col">【ph】</th>
          <th scope="col">【f】</th>
          <th scope="col">【s】</th>
          <th scope="col">【h】</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><h1>ข</h1><div>コーカイ　</div></td>
          <td><h1>ฉ</h1><div>チョー</div><div>チング　　</div></td>
          <td><h1>ถ</h1><div>トー</div><div>トゥング</div></td>
          <td><h1>ผ</h1><div>ポー</div><div>プング</div></td>
          <td><h1>ฝ</h1><div>フォー</div><div>ファー　　</div></td>
          <td><h1>ส</h1><div>ソー</div><div>スーァ</div></td>
          <td><h1>ห</h1><div>ホー</div><div>ヒーㇷ゚　　</div></td>
        </tr>
        <tr>
          <td>ข ไข่</td>
          <td>ฉ ฉิ่ง</td>
          <td>ถ ถุง	</td>
          <td>ผ ผึ้ง</td>
          <td>ฝ ฝา	</td>
          <td>ส เสือ</td>
          <td>ห หีบ</td>
        </tr>
        <tr>
          <td scope="row">khɔ̆ɔ khài</td>
          <td>chɔ̆ɔ chìŋ</td>
          <td>thɔ̆ɔ tŭŋ</td>
          <td>phɔ̆ɔ phʉ̂ŋ</td>
          <td>fɔ̆ɔ făa</td>
          <td>sɔ̆ɔ sʉ̆a</td>
          <td>hɔ̆ɔ hìip</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h1>ฐ</h1><div>トー</div><div>ターン</div></td>
          <td><h1>ศ</h1><div>ソー</div><div>サラー</div></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>ฐ ฐาน</td>
          <td>ศ ศาลา</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>thɔ̆ɔ thăan</td>
          <td>sɔ̆ɔ săalaa</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><h1>ษ</h1><div>ソー</div><div>ルースィー</div></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>ษ ฤาษี</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>sɔ̆ɔ rʉʉsĭi</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
