<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="HTML/CSSについて学べるクイズゲームです。">

		<!-- OGP -->
		<meta property="og:url" content="https://aoi719.github.io/Portfolio_personalWorks/02/quizGame/" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="HTML/CSSについて学べるクイズゲームです。" />
		<meta property="og:title" content="モグラ先生とハムスターくんのクイズゲーム" />
		<meta property="og:image" content="https://aoi719.github.io/Portfolio_personalWorks/02/quizGame/img/og_image.png" />
		<!-- twitter -->
		<meta name="twitter:creator" content="@aoi_web_719">
		<meta name="twitter:card" content="summary_large_image" />

		<!-- CSS -->
		<link rel="stylesheet" href="css/html5doctor.css" />
		<link rel="stylesheet" href="css/style.css" />

		<title>モグラ先生とハムスターくんのクイズゲーム</title>
	</head>
	<body id="index">
		<div class="footerFixed">
		<main>
			<h1><span class="bubble">モグラ先生と<br>ハムスターくんの</span>クイズゲーム</h1>

			<div class="inner">
				<p class="box">
					Web制作の勉強は順調かな？しっかり勉強できているか、チェックしてみよう！</p>
					<hr>
					<p class="lead">満点を目指そう！</p>
					<ul class="box point">
						<li>7問以上：よくできました！</li>
						<li>4問以上6問以下：次こそ満点！</li>
						<li>3問以下：がんばりましょう</li>
					</ul>
					<hr class="box">
					<p class="box">下のボタンから、「HTML編」と「CSS編」が遊べます。<br>
					問題は、「HTML5プロフェッショナル認定試験」の試験範囲から選定しています。<br>
					それぞれ各10問・10点満点です。
				</p>
				<div class="linkBox box">
					<div class="linkItem btn"><a href="html_quiz.html" ><span class="linkItem_txt">HTML編</span></a></div>
					<div class="linkItem btn"><a href="css_quiz.html"><span class="linkItem_txt">CSS編</span></a></div>
				</div>

			<ul class="annotation box">
				<li>こちらは、ポートフォリオ・およびJavaScript学習用として制作したクイズゲームです。</li>
				<li>イラストは、いらすとや様よりお借りしています。</li>
				<li>問題は「HTML5プロフェッショナル認定試験 レベル1 スピードマスター問題集 Ver2.0対応」という書籍のものを参考にしています。</li>
			</ul>
		</div>
	</main>

		<footer>
			<p><small>&copy;Aoi Nishi</small></p>
		</footer>
	</div>
	</body>
</html>
