<%= render "header" %>


<!-- Different radio can be used with the help of .ratio-{1x1|4x3|16x9|21x9} class -->
<div class="ratio ratio-21x9 mb-3">
  <iframe src="https://www.youtube.com/embed/2PICaSjteiM" title="YouTube video" allowfullscreen=""></iframe>
</div>


<%= render "kokai_core" %>


<div class="d-flex justify-content-around bd-highlight mb-2">
  <h1 class="display-6 mt-5">名場面から学ぼう</h1>
</div>

<div class="d-flex justify-content-evenly">
  <div class="card-group bd-highlight">
    <div class="card">
      <img src="turn_type.webp" class="card-img-top" alt="card-group-image">
      <div class="card-body">
        <a class="card-title" href="tharntype"><h5>TharnType/ターン×タイプ</h5></a>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">画像出典／<a href="https://tv.rakuten.co.jp/content/353890/" target="_blank">楽天TV > TharnType/ターン×タイプ</a></small>
      </div>
    </div>
    <div class="card">
      <img src="2gether.webp" class="card-img-top" alt="card-group-image">
      <div class="card-body">
        <a class="card-title" href="2gether"><h5>2gether</h5></a>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">画像出典／<a href="https://tv.rakuten.co.jp/content/411909/" target="_blank">楽天TV > 2gether THE MOVIE</a></small>
      </div>
    </div>
    <div class="card">
      <img src="lobe_by_chance.webp" class="card-img-top" alt="card-group-image">
      <div class="card-body">
        <a class="card-title" href="changetolove">A Chance To Love</a>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">画像出典／<a href="https://tv.rakuten.co.jp/content/370769/" target="_blank">楽天TV > ラブ・バイ・チャンス2 </a></small>
      </div>
    </div>
  </div>
</div>

<%# <div class="d-flex justify-content-around bd-highlight mb-2">
  <h1 class="display-6 mt-5">タイ情報</h1>
  </div> 
</div> %>
